* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Work Sans', sans-serif;
}

body {
    max-width: 1536px;
}

.shared {
    width: 80%;
    margin: 100px auto;
    border-radius: 16px;
}


/* header section */

.banner {
    background-image: url('../resources/bannerimage.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 80%;
    margin: 30px auto 0px;
}

.banner-details {
    background: linear-gradient(#070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
    padding: 170px 300px
}

.banner-content {
    text-align: center;
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
}

.banner-heading {
    color: #FFF;
    font-family: Merriweather;
    text-align: center;
    font-size: 72px;
}


/* Discount section */

#discount .container {
    margin: 120px 400px;
    text-align: center;
}

.offers .offer-title {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 40px;
}

.offers .holiday-deals {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.offers .categories {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    margin-bottom: 40px;
}


/* Midnight party section */

.midnight-party {
    background-image: url('../resources/vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.midnight-party-container {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
}

.midnight-party-content {
    margin-left: 126px;
}

.midnight-party-content .midnight-party-heading {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    margin-top: 140px;
    margin-bottom: 20px;
}

.midnight-party-content .midnight-party-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 40px;
}

.midnight-party-content .midnight-party-join {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    padding: 25px;
    margin-bottom: 140px;
}

.midnight-party-img {
    margin: 60px 100px 60px 0px;
}


/* Event Section */

.event {
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
}

.event-details .event-place {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    padding-top: 100px;
    margin-bottom: 45px;
}

.highlight {
    color: #F00;
}

.join-event .btn-danger {
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    padding: 16px 32px;
    border: 0;
    margin-bottom: 100px;
}


/* Best offer section */

.shared .best-offer-container {
    background: #FFF;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    text-align: left;
}

.new-best-offer {
    width: 35%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.new-best-offer-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 5px;
}

.new-best-offer-info {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.new-best-offer-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    padding-top: 20px;
    margin-right: 50px;
}

.offer-image {
    margin-right: 100px;
}

.offer-image>img {
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 30px;
}

.new-year-content {
    width: 20%;
    margin-top: 100px;
    margin-bottom: 0px;
}

.new-year-title {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 5px;
}

.new-year-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 20px;
}


/* Holiday Sale section */

.shared .holiday-sale {
    text-align: center;
}

.holiday-sale-ques {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.holiday-sale-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 28px;
}

.holiday-sale-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 60px;
    padding: 0px 120px;
}

.holiday-image {
    background: #FFF;
    background-image: url('../resources/rectangle2.png'), url('../resources/rectangle1.png');
    background-repeat: no-repeat;
    background-position: bottom, top right;
    background-size: auto;
    border-radius: 16px 0px 16px 16px;
    display: flex;
    justify-content: space-evenly;
}

.holiday-image-one {
    width: 700px;
    height: 550px;
    padding-left: 150px;
    padding-top: 50px;
}

.holiday-image-two {
    width: 220px;
    height: 220px;
    padding-right: 450px;
    padding-bottom: 320px;
    padding-top: 120px;
    padding-left: 0px;
}


/* Best Gift section */

.shared .best-gift {
    text-align: left;
    background: #FFF;
}

.best-gift-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.best-gift-info {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}

.best-gift-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 48px;
    padding-right: 300px;
}

.best-gift-items-one {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 24px;
}

.best-gift-items-two {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.best-gift-products {
    background-size: cover;
    width: 440px;
    height: 400px;
    border-radius: 16px;
}

.best-gift-products:hover {
    border: 2px green solid;
}


/* Subscribe section */

.shared .subscribe {
    text-align: center;
    background: rgba(255, 0, 0, 0.05);
    padding: 80px 220px;
}

.subscribe-image {
    margin-bottom: 40px;
}

.subscribe-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}

.subscribe-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 48px;
}


/* .subscribe-form {
    display: inline-block;
    border-radius: 100px;
}

.subscribe-form input[type="email"],
input[type="submit"] {
    padding: 10px 20px;
    background: #FFF;
    width: 50%;
    border: 0;
} */

.subscribe-email {
    border-radius: 50px 0px 0px 50px;
    border: 0;
    background: #FFF;
    margin-right: -15px;
    padding: 9px 15px;
    color: rgba(7, 2, 17, 0.30);
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
}

.subscribe-button {
    border-radius: 0px 50px 50px 0px;
    border: 0;
    background: #F00;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 10px 40px;
}


/* footer setion */

.footer {
    background: #070211;
    text-align: center;
}

.address {
    display: flex;
    justify-content: space-between;
}

.address-details h6 {
    text-align: left;
    padding: 100px 140px 10px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    width: 50%;
}

.contact {
    padding: 100px 140px 10px;
}

.contact .phone {
    display: flex;
    gap: 5px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5px;
}

.contact .website {
    display: flex;
    gap: 5px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

hr {
    background: rgba(255, 255, 255, 0.15);
    margin: 40px 140px;
}

.social-links {
    margin-left: 24px;
}

.footer-down {
    display: flex;
    justify-content: space-between;
}

.reserve {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding: 0px 140px 80px;
    text-decoration: none;
}