* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Work Sans', sans-serif;
}

.shared {
    width: 80%;
    margin: 80px auto;
    border-radius: 16px;
}


/* header section */

.banner {
    background-image: url('../resources/bannerimage.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background: linear-gradient(#070211 0%, rgba(7, 2, 17, 0.00) 100%); */
    width: 80%;
    margin: 20px auto 0px;
}

.banner-details {
    background: linear-gradient(#070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
}

.banner-content {
    text-align: center;
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding: 170px 450px 0px;
}

.banner-heading {
    color: #FFF;
    font-family: Merriweather;
    text-align: center;
    font-size: 72px;
    padding: 0px 340px 170px;
}


/* Discount section */

#discount .container {
    margin: 120px 400px;
    text-align: center;
}

.offers .offer-title {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 40px;
}

.offers .holiday-deals {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.offers .categories {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    margin-bottom: 40px;
}


/* Midnight party section */

.midnight-party {
    background-image: url('../resources/vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.midnight-party-container {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
}

.midnight-party-content {
    margin-left: 126px;
}

.midnight-party-content .midnight-party-heading {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    margin-top: 140px;
    margin-bottom: 20px;
}

.midnight-party-content .midnight-party-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 40px;
}

.midnight-party-content .midnight-party-join {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    padding: 25px;
    margin-bottom: 140px;
}

.midnight-party-img {
    margin: 60px 100px 60px 0px;
}


/* Event Section */

.event {
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
}

.event-details .event-place {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    padding: 100px 380px 0px 380px;
    margin-bottom: 48px;
}

.event-place .highlight {
    color: #F00;
}

.join-event .btn-danger {
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    padding: 16px 32px;
    border: 0;
    margin-bottom: 100px;
}


/* Best offer section */

.shared .best-offer-container {
    background: #FFF;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    text-align: left;
}

.new-best-offer {
    width: 35%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.new-best-offer-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 5px;
}

.new-best-offer-info {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.new-best-offer-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    padding-top: 20px;
    margin-right: 50px;
}

.offer-image {
    margin-right: 100px;
}

.offer-image>img {
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 30px;
}

.new-year-content {
    width: 20%;
    margin-top: 100px;
    margin-bottom: 0px;
}

.new-year-title {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 5px;
}

.new-year-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 20px;
}